
    <!-- <%= JSON.stringify(htmlWebpackPlugin, null, 2) %> -->

    <script src="https://js.arcgis.com/4.20/"></script>

    <script>
      require(["app"], function() {});

      // require({
      //     packages: [{
      //       name: "app",
      //       location: document.location.pathname.replace(/\/[^/]+$/, "")
      //     }]
      //   }, ["app/index"], function() {
      // });
    </script>
  </body>
</html>
